*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(rgb(47, 150, 163),rgb(48,62,143));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: white;
}
.Info, .Weather-Info{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.location{
    display: flex;
    align-items: center;
}
.Weather-Info{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.degree-section{
    display: flex;
    align-items: center;
}
.degree-section h2{
    font-size: 40px;
}
.degree-section span{
    font-size: 30px;
    padding: 10px;
}
.temp-Update{
    font-size: 20px;
}