*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    color: white;
}

.input{
    text-align: center;
    margin: 100px 0;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

.button {
    text-decoration: none;
    border: none;
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    background-color: #e7e7e7 ;
    color: #757575;
    border-radius: 2px;
    box-shadow: 7px 6px 28px 1px rgb(47,150,163);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
/* Adding transformation when the button is active */
  
.button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.416);
    /* Lowering the shadow */
}

.button:hover, 
.button:focus {
  animation: pulse 3s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes button {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

.disc{
    text-transform: capitalize;
    text-decoration: underline ;
}

.location, .temperature{
    height: 10vh;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.weatherIcon{
    border: solid white;
}
.temperature{
    flex-direction: column;
    cursor: pointer;
}
